*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}
body{
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 392px;
  margin: auto;
}
/* .top{
  background: #343434;
  height:15vh;
} */